[package]
name = "video_reader-rs"
version = "0.1.3"
edition = "2021"

[lib]
name = "video_reader"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21", features = ["extension-module"] }
numpy = "0.21"
ndarray = "0.15.6"
video-rs = { version = "0.8.1", features = ["ndarray"]}
ffmpeg-next = "7.0.0"
env_logger = "0.11.3"
log = "0.4.21"

[features]
ffmpeg_6_0 = []
